<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix India – Account details</title>
    <link rel="icon" href="\static\Images\netflix-logo2.png">
    <link rel="stylesheet" href="\static\css\userprofile.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="\static\Images\logo.png" alt="Account details" class="profile-img">
            <h1>John Doe</h1>
        </div>
        <div class="profile-content">
            <h2>Subscriptions plans</h2>
            <ul>
                <li>ID: 12345</li>
                <li>Plane: 299rs</li>
            </ul>
            <h2>Interested Industries</h2>
            <ul>
                <li>Series</li>
                <li>Bollywood</li>
                <li>Cartoon</li>
                <li>Short movies</li>
                <li>Sports</li>
            </ul>
            <h2>Contact details</h2>
            <p>Email: john.doe@example.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
        <button type="submit">Logout</button>
    </div>
</body>
</html>
